.box {
    width: 150px;
    height: 150px;
    transition: all 1s ease-in;
    margin: auto;
    margin-bottom: 10px;
    cursor: pointer;
}

.red {
    background-color: rgb(187, 0, 0);
}

.red:hover {
    width: 300px;
}

.blue {
    background-color: rgb(0, 3, 209);
}

.blue:hover {
    height: 300px;
}

.green {
    background-color: rgb(0, 160, 27);
}

.green:hover {
    width: 300px;
    height: 300px;
}